APP_NAME=chatbot-manager-service
APP_ENV=local
APP_DEBUG=true
APP_URL=http://chatbot-manager-service.local

APP_KEY=

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres-chatbot
DB_PORT=5432
DB_DATABASE=chatbot_manager
DB_USERNAME=securerag
DB_PASSWORD=securerag
